.boton, #boton{
  width: 74.2969px;
  height: 55.625px;
  z-index: 1;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: url(../assets/silenciar.svg) no-repeat rgba(0,0,0,.35) center;
  background-size: 40px;
  border: none;
  cursor: pointer;
}

.boton:hover, #boton:hover{
  background-color: #666;
}

#boton{
  left: 120px;
  background: url(../assets/caminar.svg) no-repeat rgba(0,0,0,.35) center;
}
